# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.tmp
crashlytics-build.properties

# SO
Thumbs.db
Desktop.ini
.DS_Store
